<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160  }}{% else %}{{ site.description }}{% endif %}" />

  <link href="https://use.fontawesome.com/2f0832fcef.css" media="all" rel="stylesheet">
  <link href="{{ "/css/styles.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <script type="text/javascript">var zoz3iyg1x0sbgc;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'indiamos',
    'formHash':'zoz3iyg1x0sbgc',
    'autoResize':true,
    'height':'543',
    'async':true,
    'host':'wufoo.com',
    'header':'hide',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { zoz3iyg1x0sbgc = new WufooForm();zoz3iyg1x0sbgc.initialize(options);zoz3iyg1x0sbgc.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
</head>
