<hr />

<h2 class="project-nav-head">More Projects</h2>

<ul class="project-group-list">
  <li><h3>Grace Hopper program (2017)</h3>
    <ul class="project-list">
      <li><a href="{{ "/projects/slydv.html" | prepend: site.baseurl }}">SlyDv</a></li>

      <li><a href="{{ "/projects/bookalator_js.html" | prepend: site.baseurl }}">BookalatorJS</a></li>

      <li><a href="{{ "/projects/grace-shopurr.html" | prepend: site.baseurl }}">Grace Shopurr</a></li>
    </ul>
  </li>

  <li><h3>ITP (2008–2010)</h3>
    <ul class="project-list">
      <li><a href="{{ "/projects/quincunx.html" | prepend: site.baseurl }}">Quincunx</a></li>

      <li><a href="{{ "/projects/bookalator_itp.html" | prepend: site.baseurl }}">Bookalator</a></li>

      <li><a href="{{ "/projects/wordhopper.html" | prepend: site.baseurl }}">Wordhopper</a></li>

      <li><a href="{{ "/projects/graffiti_glove.html" | prepend: site.baseurl }}">Graffiti Glove</a></li>

      <li><a href="{{ "/projects/mc_squared.html" | prepend: site.baseurl }}">MC Squared</a></li>
    </ul>
  </li>

  <li><h3>Misc</h3>
    <ul class="project-list">
      <li><a href="{{ "/projects/scaramuccilator.html" | prepend: site.baseurl }}">Scaramuccilator</a> (2017)</li>
    </ul>
  </li>
</ul>
