<div class="social-media">
  <li><a href="mailto:india.amos@gmail.com">
  <span class="fa fa-envelope"></span>india.amos@gmail.com</a></li>

  <li><a href="https://github.com/indiamos">
  <span class="fa fa-github"></span>indiamos @ GitHub</a></li>

  <li><a href="https://www.linkedin.com/in/indiamos/">
  <span class="fa fa-linkedin"></span>indiamos @ LinkedIn</a></li>

  <li><a href="https://medium.com/@indiamos">
  <span class="fa fa-medium"></span>indiamos @ Medium</a></li>

  <li><a href="https://twitter.com/indiamos">
  <span class="fa fa-twitter"></span>indiamos @ Twitter</a></li>
</div>

