<!DOCTYPE html>
<html lang="en-US">
  {% include contact_head.html %}
  <body>
    <div class="nameplate-small" role="banner">
      <a href="{{ "/" | prepend: site.baseurl }}"><img class="nameplate" alt="India Amos" src="/assets/nameplate2.png" /></a>
    </div>

    {% include header.html %}

    <hr />

    <main>
      <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        {{ page.tags }}
      </header>

      {{ content}}

      {% include social_media.html %}
    </main>

    {% include footer.html %}
  </body>
</html>
